<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="description">Description :</label>
        <input type="text" id="description" formControlName="description" />
    </div>
    <div>
        <label for="done">Terminée :</label>
        <input type="checkbox" id="done" formControlName="done" />
    </div>
    <div>
        <label for="categoryId">Catégorie</label>
        <select formControlName="categoryId" id="categoryId" class="form-control">
            <option value="" disabled>Select a category</option>
            <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
            </option>
        </select>
    </div>
    <button type="submit">Créer la tâche</button>
</form>